:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

.title {
  text-align: center;
}

.keyboard {
  display: flex;
  padding: 5.5%;
}

.key {
  color: transparent;
  margin: 2px;
  border-radius: 5px;
}

.key:hover {
  box-shadow: 0 0 15px black;
  transition: ease-in 0.25s;
}

.white-key {
  background-color: ivory;
  padding: 10px;
  padding-top: 150px;

}

.black-key {
  background-color: black;
  padding: 6px;
  padding-top: 100px;
}

.space {
  padding: 19.5px;
  padding-top: 100px;
}

.white-keys {
  display: flex;
}

.black-keys {
  width: 10px;
  display: flex;
  position: relative;
  top: -185px;
  left: 18.5px;
}

img {
  border-radius: 5px;
  /* box-shadow: 0 0 100px maroon, 0 0 70px red, 0 0 50px orange, 0 0 15px yellow; */
}